.popup__button {
    margin: 48px 36px 37px 36px;
    background-image: url(../../../images/popup/SubmitButton.svg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    min-width: 358px;
    min-height: 50px;
    padding: 0;
    border: 0;
}

.popup__button:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media all and (max-width: 424px) {
    .popup__button {
        max-width: 238px;
        min-height: 46px;
        margin: 45px 22px 25px 22px;
   }
  }

  @media all and (max-width: 424px) {
    .popup__button {
        background-image: url(../../../images/popup/SubmitButton320.svg);
        min-width: 238px;
        min-height: 46px;
   }
  }