.profile__avatar {
    position: relative;
    object-fit: contain;
    max-width: 120px;
    width: 100%;
    min-height: 120px;
    border-radius: 50%;
    transition: 0.5s linear;
}

.profile__avatar:hover {
    opacity: 0.2;
    cursor: pointer;
}